{{!-- Bottom Left --}}
<div class="bottom-left-container">
  <img
    class="bottom-left"
    src="/assets/img/bottomLeft.png"
    alt="Art Deco Corner"/>
</div>

{{!-- Bottom Right --}}
<div class="bottom-right-container">
  <img
    class="bottom-right"
    src="/assets/img/bottomRight.png"
    alt="Art Deco Corner"/>
</div>