{{!-- Top Left --}}
<div class="top-left-container">
  <img class="top-left" 
  src="/assets/img/topLeft.png" 
  alt="Art Deco Corner"/>
</div>

{{!-- Top Right --}}
<div class="top-right-container">
  <img class="top-right" 
  src="/assets/img/topRight.png" 
  alt="Art Deco Corner"/>
</div>
