<section class="card">
  </section>  <a href="/userdrink/{{id}}">
        <div class="card-image">
            <img src="{{image}}" alt="{{drinkName}}" />
        </div>
        <div class="card-content">
            <h2>{{drinkName}}</h2>
        </div>
</section>

{{!-- <section class="card col-sm-1">
  <div class="drink-card">
    <h1>test</h1>
  </div>
</section> --}}