<section class="card">
    <a href="/userdrink/{{id}}">
        <div class="card-image">
            <img src="{{image}}" alt="{{drinkName}}" />
        </div>
        <div class="card-content">
            <h2>{{drinkName}}</h2>
        </div>
</section>