<nav>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/users/add">Add</a>
    </li>
    <li>
      <a href="/users">User Drinks</a>
    </li>
    <li>
      <a href="/profile">Profile</a>
    </li>
        {{#if isAuthenticated}}
          <li class="nav-item">
            <a class="nav-link" href="/auth/logout">Logout</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="#" id="loginRegisterLink">Login/Register</a>
          </li>
        {{/if}}
  </ul>
</nav>