<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/drink-search">Drink Search</a></li>
    {{#if isAuthenticated}}
    <li><a href="/users/add">Add Drink</a></li>
    <li><a href="/users">User Drinks</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/auth/logout">Logout</a></li>
    {{else}}
    <li><a href="#" data-bs-toggle="modal" data-bs-target="#register">Login/Register</a></li>
    {{/if}}
  </ul>
</nav>