<nav>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/users/add">Add</a>
    </li>
    <li>
      <a href="/users">User Drinks</a>
    </li>
    <li>
      <a href="/profile">Profile</a>
    </li>
  </ul>
</nav>