{{> art-deco}}
{{> art-deco2}}




{{!-- about card --}}
<section>
    <div class="container mt-5 pt-5">
        {{#each errors}}
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="error">
                    <p>{{text}}</p>
                </div>
            </div>
        </div>
        {{/each}}
        <div class="d-flex align-items-center justify-content-center" style="height:80vh;">
            <div class="row justify-content-center mt-5 pt-5">
                <div class="col-md-6">
                    <form action="/users/add" method="POST" class="centered-form">
                        <div class="input-group mb-3">
                            <h1>What is Zozzled?</h1>
Welcome, fine ladies and gents, to the world of Zozzled!
Step into a world of glittering soirées and clandestine speakeasies, where the jazz is hot and the cocktails are even hotter. 
Zozzled is your premier digital directory, brimming with the finest recipes and bartending secrets from the sparkling days of the Roaring Twenties.

<h1>Why Zozzled?</h1>
In an era where the Charleston reigns supreme and prohibition might keep the good stuff out of sight, 
Zozzled offers a virtual sanctuary for those who appreciate the art of a well-crafted concoctions. 

Our cocktail directory is a treasure trove of recipes, tips, and tidbits, designed to quench your thirst for knowledge and refine your mixological prowess.
Zozzled is your indispensable guide to the liquid joys of the 1920s.


<h1>Join the Zozzled Revolution</h1>
In a world where jazz plays all night and the spirit of adventure is always in vogue, Zozzled invites you to raise a glass and toast to the golden days of cocktail culture. 
Whether you’re mixing a Bee’s Knees for a high-society shindig or concocting for a secret soirée, Zozzled is here to ensure every drink you serve is the cat’s pajamas.
So, put on your glad rags and step into the speakeasy wonderland that is Zozzled. We promise you’ll be the talk of the town, and every cocktail will be a trip back to the fabulous 1920s.
So don your finest attire, turn up the jazz and cheers to you, from us here at Zozzled– where every night is a celebration and every cocktail is a dance with history.




About our contributors 

Clarissa Mobley	Github.com/ClarrisaMobley
Alex Happel		Github.com/AlexHappel
Zachary Polof	Github.com/IVIonsters
Devin Ross		Github.com/HeviDevi
Eddie Hinojosa	Github.com/EddieHinojosa
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>