<body>
    <header class="inner">
        <h2><a href="/"><i class="fas fa-code"></i>
                Zozzled</a></h2>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/users">users</a>
                </li>
                <li>
                    <a href="/users/add">Lets add a drink!</a>
                </li>
            </ul>
        </nav>
    </header>
    <section id="add" class="container">
        <div class="form-wrap">
            <h1>Lets Create Your Own!!!</h1>
            <p>what creations can you come up with??</p>











</body>