<div class="logo">{{> logo}}</div>
<div class="artDeco">{{> art-deco}}</div>

<div class="results">
    <div class="results-container">
        {{#each userdrink}}
            {{#if @index '<' 8}}
                {{> drink-card}}
            {{/if}}
        {{/each}}
    </div>
</div>

{{!-- {{> drink-card}}
{{#times 8}}
    {{> drink-card}}
{{/times}} --}}