<div class="logo">{{> logo}}</div>
<div class="artDeco">{{> art-deco}}</div>

<div class="results">
    <div class="results-container">
        {{#each drinks}}
            <li>SHOW DRINK HERE:{{drink_name}}</li>
            <!-- Include other attributes as needed -->
            {{else}}
            <p>No drinks found</p>
        {{/each}}
    </div>
</div>