        <div class="logo">{{> logo}}</div>

        <div class="artDeco">{{> art-deco}}</div>

        <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
            <div class="search-container">
                <div class="input-group">
                <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                    <option selected>Spirit</option>
                    <option value="1">Gin</option>
                    <option value="2">Vodka</option>
                    <option value="3">Tequila</option>
                    <option value="4">Rum</option>
                    <option value="5">Whiskey</option>
                    <option value="6">Brandy</option>
                    <option value="7">Bourbon</option>
                </select>
                </div>
                <div class="input-group mb-3 mt-3">
                <input type="text" class="form-control" placeholder="Keyword" aria-label="Keyword" aria-describedby="basic-addon1">
                <span class="input-group-text" id="basic-addon1">&#x1F50E;</span>
                </div>
                <input type="range" class="form-range" min="0" max="2" id="customRange2">
                 <div class="d-flex justify-content-between"><span>bitter</span>
                <span>sweet</span>
                </div>
                <button
                    type="button"
                    class="btn mt-3"
                    style="--bs-btn-padding-y: .50rem; --bs-btn-padding-x: 10rem; --bs-btn-font-size: 1rem; --bs-btn-bg: #822c1c; --bs-btn-color: #f8f4ea; --bs-btn-hover-color: #f8f4ea; --bs-btn-hover-bg: #ce7c6d;" >
                    Shake it
                    </button>
            </div>
            </div>
        </div>
