{{!-- Logo Partial --}}
{{!-- <div class="logo">{{> logo}}</div> --}}

{{!-- Art Deco Partial --}}
<div class="artDeco">{{> art-deco}}</div>
<div class="artDeco2">{{> art-deco2}}</div>
<div class="background">

{{!-- Discover Img --}}
<div class="discover-container">
  <img
    class="discover"
    src="/assets/img/discoverCocktail.png"
    alt="Discover Cocktail"
  />
</div>

</div>

{{! Start Here Button }}
<button
  type="button"
  class="btn start-btn"
  style="--bs-btn-padding-y: .50rem; --bs-btn-padding-x: 6rem; --bs-btn-font-size: 1rem; --bs-btn-bg: #822c1c; --bs-btn-color: #f8f4ea; --bs-btn-hover-color: #f8f4ea; --bs-btn-hover-bg: #ce7c6d;" >
  Start Here
</button>
