<div class="logo-container">
  <img class="logo" src="/assets/img/zozzled.png" alt="Logo" />
</div>

<div class="artDeco">{{> art-deco}}</div>

<div class="discover-container">
  <img
    class="discover"
    src="/assets/img/discoverCocktail.png"
    alt="Discover Cocktail"
  />
</div>

{{! button }}
<button
  type="button"
  class="btn start-btn"
  style="--bs-btn-padding-y: .50rem; --bs-btn-padding-x: 4rem; --bs-btn-font-size: 1rem; --bs-btn-bg: #822c1c; --bs-btn-color: #f8f4ea; --bs-btn-hover-color: #f8f4ea; --bs-btn-hover-bg: #ce7c6d;" >
  Start Here
</button>