<div class="logo-container">
  <img class="logo" src="/assets/img/zozzled.png" alt="Logo" />
</div>

<div class="top-left-container">
  <img class="top-left" src="/assets/img/topLeft.png" alt="Art Deco Corner" />
</div>
<div class="bottom-left-container">
  <img
    class="bottom-left"
    src="/assets/img/bottomLeft.png"
    alt="Art Deco Corner"
  />
</div>
<div class="top-right-container">
  <img class="top-right" src="/assets/img/topRight.png" alt="Art Deco Corner" />
</div>
<div class="bottom-right-container">
  <img
    class="top-right"
    src="/assets/img/bottomRight.png"
    alt="Art Deco Corner"
  />
</div>
<div class="discover-container">
  <img
    class="discover"
    src="/assets/img/discoverCocktail.png"
    alt="Discover Cocktail"
  />
</div>

{{! button }}
<button
  type="button"
  class="btn start-btn"
  style="--bs-btn-padding-y: .50rem; --bs-btn-padding-x: 4rem; --bs-btn-font-size: 1rem; --bs-btn-bg: #822c1c; --bs-btn-color: #f8f4ea; --bs-btn-hover-bg: #1c6c37; --bs-btn-hover-color: #f8f4ea" >
  Start Here
</button>