* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f4ea;
}


.logo-container {
    position: absolute;
    top: 8%;
    left: 52%;
    transform: translate(-50%, -50%);
}

.logo {
    width: 75%;
}

/* Top Left Art Deco */
.top-left-container {
    position: absolute;
    top: 0px;
    left: 0px;
}

.top-left {
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
}

/* Bottom Left Art Deco */
.bottom-left-container {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.bottom-left {
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
}

/* Top Right Art Deco */
.top-right-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: fixed;
    top: 0px;
    right: 0px;
}

.top-right {
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
}

/* Bottom Right Art Deco */
.bottom-right-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: fixed;
    bottom: 0px;
    right: 0px;
}

.bottom-right {
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
}

.modal {
    background-color: #f8f4ea;
    box-shadow: 5px 5px 10px grey;
}

.form-control-user {
    font-family: 'Poppins', sans-serif;
    width: 300px;
}

#modalTitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

.modalBtn{
    width: 300px;
    height: 35px;
    border-radius: 5px;
    font-size: .9rem;
    background-color: #822c1c;
    color: white;
    font-family: 'Poppins', sans-serif;
}
