* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f4ea;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* Logo */
.logo-container {
  position: absolute;
  top: 6%;
  left: 53%;
  transform: translate(-50%, -50%);
}

.logo {
  width: 75%;
}

/* NavBar */
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav li {
  margin: 0 10px;
}

.nav a {
  text-decoration: none;
  color: inherit;
}

/* Top Left Art Deco */
.top-left-container {
  position: fixed;
  top: 0px;
  left: 0px;
}

.top-left {
  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
}

/* Bottom Left Art Deco */
.bottom-left-container {
  position: fixed;
  bottom: 0px;
  left: 0px;
}

.bottom-left {
  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
}

/* Top Right Art Deco */
.top-right-container {
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  top: 0px;
  right: 0px;
}

.top-right {
  max-width: 90%;
  max-height: 100%;
  width: auto;
  height: auto;
}

/* Bottom Right Art Deco */
.bottom-right-container {
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.bottom-right {
  max-width: 90%;
  max-height: 100%;
  width: auto;
  height: auto;
}

/* Side Border Lines */
.left-border {
  position: fixed;
  top: 0px;
  left: 0px;
}

.left {
  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
}

.right-border {
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1000;
}

.right {
  max-width: 90%;
  max-height: 100%;
  width: auto;
  height: auto;
}



/* Homepage */

/* Discover Img */
.discover-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.discover {
  max-width: 80%;
  max-height: 80%;
  width: auto;
  height: auto;
}

/* Start Button */
.start-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

/* Search Page */

/* modal */
.modal {
  box-shadow: 5px 5px 10px grey;
}

.form-control-user {
  width: 300px;
}

#modalTitle {
  font-weight: 800;
}

.modalBtn {
  width: 300px;
  height: 35px;
  border-radius: 5px;
  font-size: 0.9rem;
  background-color: #822c1c;
  color: white;
}

/* Drink Results */

/* Cards */
.drink-results {
  height: 600px;
  width: 100%;
}

.card {
margin: 0 auto;
background-color: transparent;
backdrop-filter: blur(10px);
}

.drink-card {
display: flex;
flex-direction: column;
justify-content: space-between;
max-height: 100%;
max-width: 100%;
padding: 5px;
text-align: center;
box-sizing: border-box;
border-radius: 5px;
box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
overflow: hidden;
}

.drink-card h6,
.drink-card p {
color: #fff;
}

.drink-card h6 {
margin-bottom: 10px;
font-size: 1.5em;
}

.drink-card p {
margin-bottom: 5px;
font-size: 1em;
word-wrap: break-word;
}

/* Heart Button */
.heart-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s, transform 0.3s;
}

.heart-btn i {
  color: red;
  font-size: 1.5rem;
}

.heart-btn:hover {
  transform: scale(1.1);
}

.image-link {
position: relative;
display: block;
}

.card-img-top {
width: 100%;
height: 200px; 
border-radius: 5px;
object-fit: cover; 
}

.card-img {
  width: 100%;
  height: 200px; 
  border-radius: 5px;
  object-fit: cover; 
}

.overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
opacity: 0;
transition: opacity 0.3s;
display: flex;
justify-content: center;
align-items: center;
color: white;
text-align: center;
border-radius: 5px;
}

.overlay-text {
padding: 10px;
}

.image-link:hover .overlay {
opacity: 1;
}


/* Drink Details */
.drink-details {
  max-height: 500px;
  max-width: 100%;
  padding: 20px;
  overflow: auto;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.drink-details-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Heart Button */
.favorite-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s, transform 0.3s;
}

.favorite-btn i {
  color: red;
  font-size: 1.5rem;
}

.favorite-btn:hover {
  transform: scale(1.1);
}

.card-detail-img-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.card-detail-img {
  max-height: 300px;
  width: auto;
  display: block;
  margin: 0 auto;
  z-index: 1;
}

.drink-info {
  flex: 2;
  text-align: left;
}

.drink-info h4 {
  margin: 0;
  font-size: 2rem;
  color: black;
}

.drink-info p {
  margin-bottom: 5px;
  font-size: 1rem;
  color: black;
  word-wrap: break-word;
}

/* Comment-rating cards */
.comment-rating-card {
  max-height: 500px;
  max-width: 100%;
  padding: 20px;
  overflow: auto;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}


/* Styling for rating system */
.star-rating input {
  display: none;
}

/* controls size of stars */
.star-rating label {
  font-size: 1.5em;
  color: #ccc;
  padding: 0 0.1em;
  transition: all 0.2s ease;
}

/* controls how stars react to hover. */
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label {
  color: #f7d70c;
}

input:checked ~ label {
  color: #f7d70c;
}

/* added slight glow when 5 stars is selected */
input#rate-5:checked ~ label {
  color: #fff895;
  text-shadow: 0 0 20px rgb(255, 156, 81);
}

/* modifying text based on star selection */
#rate-1:checked ~ header:before {
  content: "This shouldn't even be served in a bar😠";
  text-transform: uppercase;
}

#rate-2:checked ~ header:before {
  content: "Not a fan🙃";
  text-transform: uppercase;
}

#rate-3:checked ~ header:before {
  content: "It was aight 👌";
  text-transform: uppercase;
}

#rate-4:checked ~ header:before {
  content: "Imma have a good good night🥳";
  text-transform: uppercase;
}

#rate-5:checked ~ header:before {
  content: "I'm not going to remember tonight...🖤";
  text-transform: uppercase;
}

form header {
  width: 100%;
  font-size: 15px;
  color: #f7d70c;
  font-weight: 500;
  transition: all 0.2s ease;
}

form .textarea {
  height: 100px;
  width: 100%;
  overflow: hidden;
}

/* formatting and coloring for comments box */
form .textarea textarea {
  height: 100%;
  width: 100%;
  outline: none;
  border: 1px solid #333;
  /* background: #222; */
  color: #eee;
  padding: 10px;
  font-size: 17px;
  resize: none;
}

/* button formatting */
/* form .btn {
  height: 45px;
  width: 100%;
}

form .btn button {
  height: 100%;
  width: 30%;
  border: 1px solid #444;  
  outline: none;
  background: #222;
  color: #999;
  font-size: 17px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
} */

/* form .btn button:hover {
  background: #1b1b1b;
  height: 100vh;
} */

.detail-container {
  padding-top: 200px;
}