/* General Reset and Box Sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  background-color: #f8f4ea;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Paragraphs */
p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* Logo */
.logo-container {
  position: absolute;
  top: 6%;
  left: 53%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

.logo {
  width: 75%;
}

/* Navigation Bar */
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 20;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav li {
  margin: 0 10px;
}

.nav a {
  text-decoration: none;
  color: inherit;
}

/* Art Deco Decorations */
/* Top Left Art Deco */
.top-left-container {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
}

.top-left {
  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
}

/* Bottom Left Art Deco */
.bottom-left-container {
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 10;
}

.bottom-left {
  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
}

/* Top Right Art Deco */
.top-right-container {
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 10;
}

.top-right {
  max-width: 90%;
  max-height: 100%;
  width: auto;
  height: auto;
}

/* Bottom Right Art Deco */
.bottom-right-container {
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 10;
}

.bottom-right {
  max-width: 90%;
  max-height: 100%;
  width: auto;
  height: auto;
}

/* Side Border Lines */
.left-border, .right-border {
  position: fixed;
  top: 0;
  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
}

.left-border { left: 0; }
.right-border {
  right: 0;
  display: flex;
  flex-direction: row-reverse;
  z-index: 1000;
}

/* Homepage Background */
.background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.star {
  position: absolute;
  color: #f8f4ea;
  z-index: 5;
}

.star::before {
  font-family: "Font Awesome 6 Pro";
  content: "\e5d6";
  font-weight: 200;
}

.star.animate {
  color: rgb(248, 210, 57);
}

/* Discover Image */
.discover-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 15;
}

.discover {
  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
  opacity: 0;
  animation: slide-fade-in 4s forwards;
}

@keyframes slide-fade-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Start Button */
.start-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
}

/* Search Page */
.form-control-user {
  width: 300px;
}

#modalTitle {
  font-weight: 800;
}

.modalBtn {
  width: 300px;
  height: 35px;
  border-radius: 5px;
  font-size: 0.9rem;
  background-color: #822c1c;
  color: white;
}

.modal-content {
  background-color: #f8f4ea;
  border-radius: 10px;
  box-shadow: 5px 5px 10px grey;
}

.search-container {
  z-index: 10;
  animation: fade-in 1s;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Drink Results */
.drink-results {
  height: 600px;
  width: 100%;
}

.card {
  margin: 0 auto;
  background-color: transparent;
  backdrop-filter: blur(10px);
}

.drink-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100%;
  max-width: 100%;
  padding: 5px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.drink-card h6,
.drink-card p {
  color: #fff;
}

.drink-card h6 {
  margin-bottom: 10px;
  font-size: 1.5em;
}

.drink-card p {
  margin-bottom: 5px;
  font-size: 1em;
  word-wrap: break-word;
}

/* Heart Button */
.heart-btn, .favorite-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s, transform 0.3s;
}

.heart-btn i, .favorite-btn i {
  color: red;
  font-size: 1.5rem;
}

.heart-btn:hover, .favorite-btn:hover {
  transform: scale(1.1);
}

/* Image Links */
.image-link {
  position: relative;
  display: block;
}

.card-img-top, .card-img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  border-radius: 5px;
}

.overlay-text {
  padding: 10px;
}

.image-link:hover .overlay {
  opacity: 1;
}

/* Drink Details */
.drink-details {
  max-height: 500px;
  max-width: 100%;
  padding: 20px 20px 40px 20px;
  overflow: auto;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.drink-details-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.card-detail-img-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.card-detail-img {
  max-height: 300px;
  width: auto;
  display: block;
  margin: 0 auto;
  z-index: 1;
}

.drink-info {
  flex: 2;
  text-align: left;
}

.drink-info p {
  margin-bottom: 5px;
  font-size: 1rem;
  color: black;
  word-wrap: break-word;
}

.bold-text {
  font-weight: bold;
}

/* Social Icons */
.social-icons {
  position: absolute;
  bottom: 0;
  left: 20px;
  display: flex;
  gap: 10px;
}

.social-btn {
  background: transparent;
  font-size: 2rem;
}

.social-btn:hover {
  transform: scale(1.1);
}

.instagram-btn i {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.twitter-btn i {
  color: #1DA1F2;
}

/* Media Queries */
@media (max-width: 1200px) {
  .social-icons {
    top: 10px;
    right: 10px;
    bottom: auto;
    left: auto;
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 768px) {
  .drink-details-container {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 480px) {
  .social-btn i {
    font-size: 1.5rem;
  }

  .favorite-btn i {
    font-size: 1.2rem;
  }
}

/* Comment and Rating Cards */
.comment-rating-card {
  max-height: 500px;
  max-width: 100%;
  padding: 20px;
  overflow: auto;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.rating-comments {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Rating System */
.star-rating input {
  display: none;
}

.star-rating label {
  font-size: 1.5em;
  color: #ccc;
  padding: 0 0.1em;
  transition: all 0.2s ease;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label {
  color: #f7d70c;
}

input:checked ~ label {
  color: #f7d70c;
}

input#rate-5:checked ~ label {
  color: #fff895;
  text-shadow: 0 0 20px rgb(255, 156, 81);
}

#rate-1:checked ~ header:before {
  content: "This shouldn't even be served in a bar😠";
  text-transform: uppercase;
}

#rate-2:checked ~ header:before {
  content: "Not a fan🙃";
  text-transform: uppercase;
}

#rate-3:checked ~ header:before {
  content: "It was aight 👌";
  text-transform: uppercase;
}

#rate-4:checked ~ header:before {
  content: "Imma have a good good night🥳";
  text-transform: uppercase;
}

#rate-5:checked ~ header:before {
  content: "I'm not going to remember tonight...🖤";
  text-transform: uppercase;
}

form header {
  width: 100%;
  font-size: 15px;
  color: #f7d70c;
  font-weight: 500;
  transition: all 0.2s ease;
}

form .textarea {
  height: 100px;
  width: 100%;
  overflow: hidden;
}

form .textarea textarea {
  height: 100%;
  width: 100%;
  outline: none;
  border: 1px solid #333;
  color: black;
  padding: 10px;
  font-size: 17px;
  resize: none;
  box-sizing: border-box;
}

form .textarea textarea:focus::placeholder {
  color: transparent;
}

.detail-container {
  padding-top: 200px;
  z-index: inherit;
  animation: fade-in 1s;
}

.about-container {
  padding-bottom: 150px;
}

/* Add Drink Page */
.add-container {
  z-index: 10;
  animation: fade-in 1s;
}
